.name-section {
    grid-column: 2 / 3;
    grid-row: 1;
    background: #F0F0F0;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
